<p>rooms works!</p>
<h1>Welcome to {{ hotelName }}</h1>

<div *ngIf="rooms.availableRooms > 0">Hello, we have rooms available</div>

<div [ngSwitch]="role">
  <div *ngSwitchCase="'admin'">Welcome Admin</div>
  <div *ngSwitchCase="'user'">Welcome User</div>
  <div *ngSwitchDefault>Unknown</div>
</div>

<!-- <div *ngIf="hideRooms">
  Number of rooms:
  <div>{{ numberOfRooms }}</div> -->

  <div [hidden]="hideRooms">
    Number of rooms:
    <div [innerText]="numberOfRooms"></div>
  </div>

  <div [ngClass]="hideRooms ? 'even' : 'odd'">NAMASKAR</div>

  <!-- <div *ngIf="!hideRooms">
    Number of rooms: <div>{{ numberOfRooms }}</div>
  </div> -->

  <div>
    <table>
      <thead>
        <tr>
          <th>Index</th>
          <th>EVEN/ODD</th>
          <th>Type</th>
          <th>Price</th>
          <th>Checkin</th>
          <th>Checkout</th>
          <th>Ammneties</th>
          <th>Location</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let room of roomList; let i = index; let e = even"
          [ngStyle]="{ 'background-color': e ? 'lightblue' : 'lightgreen' }"
        >
          <td>{{ i }}</td>
          <td>{{ e ? "Even " : "Odd " }}</td>
          <td>{{ room.type | uppercase}}</td>
          <td>{{ room.price | currency: 'INR' }}</td>
          <td>{{ room.checkin | date }}  </td>
          <td>{{ room.checkout | date}}</td>
          <td>{{ room.ammenties | titlecase}}</td>
          <td>{{ room.location }}</td>
          <td>{{room.rating | number: '1.1-3'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button (click)="toggle()">Toggle</button>

