<p>rooms works!</p>
<h1>Welcome to {{ hotelName }}</h1>

<div *ngIf="rooms.availableRooms > 0">Hello, we have rooms available</div>

<div [ngSwitch]="role">
  <div *ngSwitchCase="'admin'">Welcome Admin</div>
  <div *ngSwitchCase="'user'">Welcome User</div>
  <div *ngSwitchDefault>Unknown</div>
</div>

<!-- <div *ngIf="hideRooms">
  Number of rooms:
  <div>{{ numberOfRooms }}</div> -->

  <div [hidden]="hideRooms">
    Number of rooms:
    <div [innerText]="numberOfRooms"></div>
  </div>

  <div [ngClass]="hideRooms ? 'even' : 'odd'">NAMASKAR</div>

  <!-- <div *ngIf="!hideRooms">
    Number of rooms: <div>{{ numberOfRooms }}</div>
  </div> -->

  <div>

    {{ roomList }}
    <br>
    <br>
        
    {{ roomList | json }}

  </div>

  <!-- <div id="hotelName">

    <ul>
      <li *ngFor="let room of roomList">
        {{ room.type | uppercase }} - {{ room.price | currency: 'INR' }}
      </li>
    </ul>
  </div> -->

  <div>
    <hinv-rooms-list [roomList]=roomList (roomSelected)="roomBooked($event)"></hinv-rooms-list>
  </div>

  <button (click)="toggle()">Toggle</button>

  <div *ngIf= "roombooked">
    Room Booked:-
    <br>
   {{ roombooked | json }}

</div>

